html {
    font-size: 16px;
}

body {
    height: 100vh;
    background-image: url(./bg-restaurant.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    padding-bottom: 1.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.255);
    font-family: 'Courgette', sans-serif;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.3rem;
}

form {
    width: 65%;
    margin: 0 auto;
    margin-top: 2rem;
}

#input {
    height: 75px;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 10px 10px 0 0;
}

footer {
    position: absolute;
    bottom: 0;
    right: 20px;
    font-family: 'Courgette', sans-serif;
}

footer a {
    color: #fff;
}

@media only screen and (max-width: 700px) {
    header h1 {
        font-size: 2rem;
    }
}